@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  height: 100vh;
  width: 100%;
}
.cabecalho {
  background-color: rgb(90, 90, 90);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}
.cabecalho a {
  letter-spacing: 2px;
}
a {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
a:hover {
  border-bottom: 1px solid #0040ff;
  color: #0040ff;
}
.navigation {
  display: flex;
  gap: 15px;
}
.sobre-mim {
  background-color: #363636;
  width: 100%;
  height: 500px;
}
.sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.img-perfil {
  height: 300px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 162px -14px rgba(0, 64, 255, 1);
  -moz-box-shadow: 2px 2px 162px -14px rgba(0, 64, 255, 1);
  box-shadow: 2px 2px 162px -14px rgba(0, 64, 255, 1);
}
.informacoes {
  width: 500px;
}
.informacoes h1 {
  width: 500px;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}
.informacoes p {
  margin-top: 10px;
  font-size: 17px;
  line-height: 18.5px;
  font-family: "Roboto", sans-serif;
}
.skills-contener {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  background-color: rgb(90, 90, 90);
}
.skills-contener > h2 {
  font-size: 3rem;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.ver-mais {
  display: none;
}
button {
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 22px;
  border: none;
  position: absolute;
  background-color: #363636;
}
button:hover {
  cursor: pointer;
  background-color: #0040ff;
  border: 1px solid black;
}
.list-incos {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  max-width: 480px;
  height: 350px;
  gap: 20px;
}
.list-incos li {
  font-size: 100px;
}
.formacoes {
  width: 100%;
  height: 500px;

  background-color: #363636;
}
.formacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formacoes-cards {
  display: flex;
  gap: 180px;
  padding-top: 50px;
}
.cad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 200px;
  font-family: "Roboto", sans-serif;
  padding: 40px;
  border-radius: 10px;
  gap: 5px;

  -webkit-box-shadow: 2px 2px 162px -14px rgba(0, 64, 255, 1);
  -moz-box-shadow: 2px 2px 162px -14px rgba(0, 64, 255, 1);
  box-shadow: 2px 2px 162px -14px rgba(0, 64, 255, 1);
}
.formacoes h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}
.logo {
  height: 100px;
}
.roda-pe {
  width: 100%;
  height: 100px;
  background-color: rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.roda-pe h2 {
  font-family: "Roboto", sans-serif;
  padding: 3px 0px;
}
.roda-pe-icons {
  gap: 20px;
  display: flex;
  width: 500px;
  justify-content: space-between;
  color: #363636;
}
.roda-pe-icons a {
  color: #363636;
  font-size: 25px;
}
.roda-pe-icons a:hover {
  color: #0040ff;
  border: none;
}
